<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WitcherSaveManagerVersion" value="1.0.0" />
		<!-- Configuration for the Witcher Save Manager application -->
		<add key="usersettings" value="usersettings.json" />
		<!-- Default save folder paths for Witcher games-->
		<add key="Witcher1DefaultSaveFolder" value="%USERPROFILE%\\Documents\\The Witcher\\saves"/>
		<add key="Witcher2DefaultSaveFolder" value="%USERPROFILE%\\Documents\\Witcher 2\\gamesaves"/>
		<add key="Witcher3DefaultSaveFolder" value="%USERPROFILE%\\Documents\\The Witcher 3\\gamesaves"/>
		<!-- Default save file extensions for Witcher games -->
		<add key="Witcher1SaveExtension" value="*.TheWitcherSave"/>
		<add key="Witcher2SaveExtension" value="*.sav"/>
		<add key="Witcher3SaveExtension" value="*.sav"/>
	</appSettings>
</configuration>
