# === General ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# Visual Studio Artifacts
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.*~*
/witcherSmartSaveManager_2025-07-16.zip

# Ignore publish directory
publish/

# Database runtime files (keep schema scripts, ignore runtime db files)
*.db
*.db-shm
*.db-wal

# Witcher tools and resources
CookedPC/
pack0unzip/