# === General ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
env/
*.egg-info/
pip-log.txt
*.sqlite3

# Jupyter / IPython
.ipynb_checkpoints/

# PyInstaller builds
/dist/
/build/
/

# Visual Studio Artifacts
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
/frontend/Views/1pekkllx.mrw~
/frontend/Views/ajjsbb3z.5ln~
/frontend/Views/bn2fwdxz.ny2~
/frontend/Views/drxho0l0.clo~
/frontend/Views/kqoaxjsq.4tb~
/frontend/Views/rbdp3f2b.umr~
