# === General ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# Visual Studio Artifacts
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.*~*
/witcherSmartSaveManager_2025-07-16.zip
*.sav


# Ignore publish directory
publish/

# Witcher tools and resources
CookedPC/
pack0unzip/
_backup/