<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Witcher Smart Save Manager" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Witcher Smart Save Manager is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Witcher Smart Save Manager" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WitcherSmartSaveManager">
          <!-- Files will be added here -->
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="PUT-GUID-HERE">
        <File Source="..\frontend\bin\Release\WitcherGuiApp.exe" KeyPath="yes" />
        <File Source="..\frontend\bin\Release\WitcherGuiApp.dll" />
        <File Source="..\frontend\userpaths.json" />
        <File Source="..\frontend\App.config" />
        <File Source="..\frontend\WitcherGuiApp.exe.config" />
        <File Source="..\README.md" />
        <!-- Add other essential files as needed -->
        <RegistryValue Root="HKLM" Key="Software\WitcherSmartSaveManager" Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="Software\WitcherSmartSaveManager" Name="Version" Type="string" Value="1.0.0.0" />
      </Component>
    </ComponentGroup>
  </Product>
</Wix>
